/*
 * countmymoney.com
 */

body {
    color: black;
    background-color: lightsteelblue;
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
}

/* global styles */

table {
    font-size: 1em;
/*    width: 100%;*/
    margin-top: 1px;
    margin-bottom: 1px;
    border: black 1px solid;
}

th, td {
    margin: 0px;
    padding: 1px;
    border: none;
    text-align: left;
}

/* element styles */

#loginform {
    padding: 8px;
/*    margin-bottom: -16px;*/
}

#loginform input {
    margin: 0px 4px;
}

#banner {
    background-color: steelblue;
    padding: 20px;
}

#banner .BText {
    font-weight: bold;
    text-transform: uppercase;
}

#banner .Button {
    color: lightsteelblue;
    background-color: black;
    float: right;
    width: 60px;
    margin-top: -20px;
    margin-right: 64px;
}

#menubar li {
    display: inline;
    padding: 0px 4px;
}

#contentpane {
}

#income, #capital, #balance, #cashflow {
/*    float: left;*/
}

/* class styles */

.Button {
    color: black;
    background-color: steelblue;
    text-align: center;
    padding: 2px;
    cursor: pointer;
}

.Cleanframe {
    margin: 8px;
    padding: 8px;
    border: steelblue 1px solid;
}

.Hilite1 {
    background: steelblue;
}

.Red, .Negative {
    color: red
}

.T-account {
/*    width: 23%;*/
    float: left;
    margin: 8px;
    padding: 16px;
}

.Report {
    float: left;
    margin: 8px;
}

.Currency {
	text-align: right;
}

